# Node y Composer
/node_modules
/vendor

# Archivos sensibles
.env
.env.* 
*.key

# Archivos de sistema
.DS_Store
.idea
.vscode

# Laravel
/public/storage
/storage/*.key

/public_html/storage/
/public_html/fotos/
/vivehome/public/storage/
/vivehome/public/fotos/
/public_html/build/
/public_html/*.js
/public_html/*.css


